<h1>
  Migration in Georgia
</h1>

<% if @regions.present? %>

  <ul>

    <% @regions.each do |region| %>

      <li>
        <%= region.name %>
      </li>

    <% end %>

  </ul>

<% else %>

  <p>
    No regions have been created.
  </p>

<% end %>
