<h1>
  Migration in Georgia
</h1>

<ul>

  <% if @regions.each do |region| %>

    <li>
      <%= region %>
    </li>

  <% end.empty? %>

    <li>
      No regions have been created.
    </li>

  <% end %>

</ul>
